* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

#root {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
}

#controls {
    height: 1150px;
    width: 200px;
    background: gray;
    padding: 10px;
}

#map {
    display: block;
    background: cyan;
    position: relative;
    height: 1150px;
    width: 100vw;
}

.hexagon {
    width: 115px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow {
    height: 25%;
    position: relative;
    top:-25px;
}

.displayDiv {
    position: absolute;
    left: 51.25px;
    top: 36px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width:12.5px;
    height: 28px;
}

select {
    padding: 5px;
}

#btCreate {
    padding: 5px;
}

#btSave {
    margin-top: 20px;
    padding: 10px;
}